<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ns2:recordServer xmlns:ns2="Server">
    <CallList>
        <CallInfo>
            <numberCalled>1</numberCalled>
            <numberDialed>2</numberDialed>
            <callTime>JULY 11, 02:26:20</callTime>
            <connected>false</connected>
            <communicationTime>00:00:00</communicationTime>
        </CallInfo>
    </CallList>
    <MessageList/>
</ns2:recordServer>
